{% extends "base.html" %}

{% block title %}LogIn{% endblock %}

{% block body%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Upload file</div>
                <div class="card-body">
                    <div class="form">

                        <form enctype="multipart/form-data" action="/dir/upload" method="POST">

                            <input type="file" name="file"></input><br>
                            <input type="radio" name="privacy" value="1"> Public<br>
                            <input type="radio" name="privacy" value="0"> Private<br>
                            <input type="submit" value="Upload"></input>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
