{% extends "base.html" %}


{% block title %}LogIn{% endblock %}

{% block body%}

<div class="login-page">
    <div class="form">
        <form action="/newUser/create" method="post">
            <input type="text" name="name" placeholder="Your real name">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="email" placeholder="you@host.domain">
            <input type="password" name="password" placeholder="password">

            <button>create</button>
        </form>
    </div>
</div>
{%endblock%}